body{margin:0px;padding:0px;}
.clear{clear: both;}
#bodyDiv{width:100%;}
.rowDiv{width:80%;margin:0 auto}
#content{width:100%;}
#topDiv{width:100%;}
.header{width:100%;background-color: #232323;min-height:50px;}
.headerMain{width:82%;margin:0 auto}
.headerLeft{width:50%;height:50px;line-height:50px;font-size:16px;color:#9d9d9d;font-weight:bold;text-align:left;float:left;}
.headerLeft div{cursor:pointer;}
.headerRight{width:50%;height:50px;line-height:50px;font-size:16px;color:#9d9d9d;font-weight:bold;text-align:right;float:right;}
.el-menu.el-menu--horizontal{padding:5px 0px;}

#mainDiv{width:100%;min-height:100vh;}
#footerDiv{width:100%;}
#footerDiv .widewrapper{color: #68848F;font-size:14px;height:70px;line-height:70px;text-align: center;background-color: #232323;}
.el-backtop{width:60px;}

.crumbs{width:100%;}
.crumbs div{min-height: 60px;line-height: 60px;font-size: 14px;}
.mainCont{width:100%;}
.colClass{margin: 0px 1.5% 1%;cursor:pointer;}
.title{padding: 14px}
.title span{font-size:15px;}
.pageSize{padding:20px 0px;text-align:right;}
.errorAlter{display:none;}
.showDesc{font-size: 13px;color: #999;}
.infoDesc{height: 60px;overflow: hidden;}
.infoDesc div{text-indent: 25px;margin-top:10px;}

.time {font-size: 13px;color: #999;}
.bottom {margin-top: 13px;line-height: 12px;}
.button {padding: 0;float: right;}
.image {width: 100%;display: block;}
.clearfix:before,.clearfix:after {display: table;content: "";}
.clearfix:after {clear: both}